<nav class="navbar navbar-expand navbar-light bg-dark px-2">
  <div (click)="sidenavToggle()" class="burger-menu-button d-flex justify-content-center align-items-center p-2 me-3 text-light">
    <i class="fa-solid fa-bars"></i>
  </div>

  <a class="logo-and-project-name text-decoration-none navbar d-flex flex-nowrap align-items-center" [routerLink]="['/']">
    <a class="logo d-flex justify-content-center m-0 navbar-brand" [routerLink]="['/']">
      <img id="logo" ngSrc="./assets/logo-32x32.svg" alt="Catálogo de Produtos" height="43" width="43">
    </a>
    <span class="project-name text-light d-flex flex-nowrap justify-content-center align-items-center">
      Catálogo de Produtos
    </span>
  </a>
  <div *ngIf="isProductDetailOrListingLoaded" class=" shopping-cart d-flex flex-nowrap justify-content-center align-items-center w-100 animate__animated animate__fadeIn">
    <div class="cart-info text-decoration-none w-75 h-100 d-flex flex-nowrap justify-content-end align-items-center">
      <a [routerLink]="['/products/checkout/cart']" class="cursor-pointer text-decoration-none d-flex flex-nowrap justify-content-center align-items-center">
        <div class="shopping-cart-icon cursor-pointer h-100 d-flex flex-nowrap justify-content-center align-items-center">
          <i class="fas fa-shopping-cart d-flex flex-nowrap justify-content-start align-items-center"></i>
        </div>
        <div class="shopping-cart-items-quantity">
          {{totalQuantityOfItemsOnCart}}
        </div>
      </a>
    </div>
  </div>

  <div *ngIf="isUserLoggedIn" [ngClass]="{
    'align-to-right-signout-button-and-username': !isProductDetailOrListingLoaded}"
       class="d-flex justify-content-between-sm justify-content-md-center justify-content-lg-center align-items-center">
      <span class="text-white mr-2">Ola!, {{loggedInUsername}}</span>
      <button class="btn btn-primary" (click)="logout()">Logout</button>
  </div>

  <div *ngIf="!isUserLoggedIn" class="w-100 h-100 d-flex justify-content-end align-items-center">
    <button class="btn btn-primary" [routerLink]="['/signin']">Login</button>
  </div>


</nav>
