<div class="container-fluid p-0">

  <ng-container *ngIf="!isSigninInUse && !isSignupInUse">
    <app-header (sidenavToggled)="sidenavStatus = $event"></app-header>
  </ng-container>


    <main [ngClass]="{'main-on-signin-screen': isSigninInUse, '': !isSigninInUse, 'main-on-signup-screen': isSignupInUse}"
    >

      <ng-container *ngIf="!isSigninInUse && !isSignupInUse">
        <app-side-nav (sidenavToggled)="sidenavStatus = $event"
                      [sidenavStatus]="sidenavStatus"
        [ngClass]="{'app-side-nav-open': sidenavStatus}">
        </app-side-nav>

        <div class="display-area p-3"
             [ngClass]="{'display-area-shrink': sidenavStatus}">
          <router-outlet></router-outlet>
        </div>
      </ng-container>


      <ng-container *ngIf="isSigninInUse && !isSignupInUse">
        <app-signin></app-signin>
      </ng-container>

      <ng-container *ngIf="isSignupInUse && !isSigninInUse">
        <app-signup></app-signup>
      </ng-container>
    </main>

</div>
