/* styles applied directly to the app-product-list element/component only */
:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  height: 100%;
  min-width: 16.875rem;
}

.product-list-container {
  justify-content: center;
  border-radius: 2rem;
  padding: 2rem;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

  .header {
    margin-bottom: 0 !important;
    font-size: 2rem;
    font-weight: bolder;
  }

.search-and-filter {
  display:flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}

  .search-input-container {
    width: 100%;
    min-width: 14.125rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }
  .filter-dropdown-container {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
  }

    .filter-dropdown {
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      max-width: 10em;
    }

.products-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.product-list-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .products-total {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 1rem;
  }

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
  .pagination-nav {
    display: flex;
    justify-content: center;
    padding: 0;
  }
    .pagination {
      justify-content: center;
      margin-top: 0;
      margin-bottom: 0;
    }


/* Media queries for responsive design */
@media (max-width: 500px) {

  .product-list-container {
    padding: 1rem 2rem
  }

  .header {
    margin-bottom: 0 !important;
    font-size: 1.6rem;
    font-weight: bolder;
  }

  .filter-dropdown {
    min-width: 7.375rem;
    height: 2.5rem;
  }
}

@media (max-width: 432px) {
  .header {
    font-size: 1.3rem;
    font-weight: bolder;
  }

  .product-list-container {
    padding: 1rem 1rem
  }
}
