<section class="detail-container">

  <header class="name">
    <h4>

    </h4>
  </header>

  <main class="img-and-info">
    <section class="img-container">
      <img src="" alt="imagem de produto">
    </section>
    <section class="info-container">
      <div class="sold-and-delivered-by">
        <span>Vendido e entregue por
          <strong>Catálogo de Produtos</strong>
        </span>
      </div>
      <div class="price">
        <span></span>
      </div>
      <div class="add-to-cart">
        <button class="add-to-cart-btn btn btn-info">
          Adicionar à sacola
        </button>
      </div>

    </section>
  </main>

  <footer class="detailed-description">
    <div class="title">
      <h4>
        Informações do Produto
      </h4>
    </div>

    <div class="about">
      <p></p>
    </div>
  </footer>

</section>
