/* styles applied directly to the app-product-list element/component only */
:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: scroll;
  height: 100% !important;
  min-width: 290px;
}

.product-list-container {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-background);
  border-radius: 2rem;
  padding: 2rem;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

  .header {
    margin-bottom: 0 !important;
    font-size: 2rem;
    font-weight: bold;
  }

.search-and-filter {
  width: 100%;
}

  .search-input-container {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }
  .filter-dropdown-container {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .filter-dropdown {
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      max-width: 10em;
    }

.products-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.product-list-footer {
  height: 5rem;
}
  .products-total {
    display: flex;
    justify-content: center;
  }

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

/* Media queries for responsive design */
@media (max-width: 500px) {

  .product-list-container {
    width: 100%;
  }

  .header {
    font-size: 1.5rem;
  }

  .filter-dropdown {
    min-width: 9.375rem;
    height: 2.5rem;
  }
}
