<form class="animate__animated animate__fadeIn product-signup-form" [formGroup]="productRegistrationForm" (ngSubmit)="submit()">
  <section class="header row">
    <h3>Cadastrar Produto</h3>
  </section>
  <section class="input-container">
    <label for="name" class="form-label">Nome <sup>*</sup></label>
    <input formControlName="name" type="text" class="form-control" name="name" id="name">
    <div id="NameHelp" class="form-text hint ">Digite o nome do produto</div>
    <div class="alert-container">
      <div *ngIf="productRegistrationForm.get('name')?.errors?.required && productRegistrationForm.get('name')?.touched" class="alert">
        <sup>*</sup> Nome é obrigatório
      </div>
      <div *ngIf="productRegistrationForm.get('name')?.errors?.minlength && productRegistrationForm.get('name')?.touched" class="alert">
        <sup>*</sup> Nome deve ter no mínimo 3 caracteres
      </div>
    </div>
  </section>
  <section class="input-container">
    <label for="price" class="form-label">Preço <sup>*</sup></label>
    <input [placeholder]="priceInputPlaceholder" (input)=" price.value = moneyMask(price.value)"  #price formControlName="price" type="text" class="form-control" id="price">
    <div id="PriceHelp" class="form-text hint">Digite o preço do produto</div>
    <div class="alert-container">
      <div *ngIf="productRegistrationForm.get('price')?.errors?.required && productRegistrationForm.get('price')?.touched" class="alert">
        <sup>*</sup> Preço é obrigatório.
      </div>
      <div *ngIf="productRegistrationForm.get('price')?.errors?.min && productRegistrationForm.get('price')?.touched" class="alert">
        <sup>*</sup> Preço deve ser maior que 0.
      </div>
    </div>
  </section>
  <section class="input-container" id="dropdown-container">
    <label for="inputType" class="form-label" id="select-label">Categoria <sup>*</sup></label>
    <select formControlName="type" class="form-select" name="type" id="inputType">
      <option>-- Selecione a categoria do produto --</option>
      <option *ngFor="let category of categories" [value]="category['value']" >
        {{category["label"]}}
      </option>
    </select>
    <div class="alert-container">
      <div *ngIf="productRegistrationForm.get('type')?.errors?.required" class="alert">
        <sup>*</sup> Categoria é obrigatório.
      </div>
      <div *ngIf="productRegistrationForm.get('type')?.errors?.invalidCategoryName && productRegistrationForm.get('type')?.dirty " class="alert">
        <sup>*</sup> Categoria inválida.
      </div>
    </div>
  </section>
  <section class="input-container" id="textarea-container">
    <label for="textAreaDescription" class="form-label">Descrição <sup>*</sup></label>
    <textarea formControlName="description" class="form-control" id="textAreaDescription" rows="3"></textarea>
    <div id="DescriptionHelp" class="form-text hint">Digite a descrição do produto</div>
    <div class="alert-container">
      <div *ngIf="productRegistrationForm.get('description')?.errors?.required && productRegistrationForm.get('description')?.touched" class="alert">
        <sup>*</sup> Descrição é obrigatória.
      </div>
      <div *ngIf="productRegistrationForm.get('description')?.errors?.minlength " class="alert">
        <sup>*</sup> Descrição deve ter no mínimo 25 caracteres.
      </div>
    </div>
  </section>
  <section class="input-container">
    <label for="inputQuantity" class="form-label">Quantidade <sup>*</sup></label>
    <input (input)="limitToThreeCharacters(quantity.value)" #quantity formControlName="quantity" type="number" class="form-control" id="inputQuantity">
    <div id="QuantityHelp" class="form-text hint">Digite a quantidade de produtos</div>
    <div class="alert-container">
      <div *ngIf="productRegistrationForm.get('quantity')?.errors?.required && productRegistrationForm.get('quantity')?.touched" class="alert">
        <sup>*</sup> Quantidade é obrigatório.
      </div>
      <div *ngIf="productRegistrationForm.get('quantity')?.errors?.min && productRegistrationForm.get('quantity')?.touched" class="alert">
        <sup>*</sup> Quantidade deve ser maior que 0.
      </div>
      <div *ngIf="productRegistrationForm.get('quantity')?.errors?.invalidMaxQuantity && productRegistrationForm.get('quantity')?.touched" class="alert">
        <sup>*</sup> Quantidade máxima permitida são de 100.
      </div>
    </div>
  </section>
  <section class="input-container">
    <label for="inputImageRef" class="form-label">Url da imagem do produto</label>
    <input formControlName="imageRef" type="text" class="form-control" id="inputImageRef">
    <div id="ImageRefHelp" class="form-text hint">Digite a url da imagem do produto</div>
  </section>
  <div class="btn-container">
    <button [disabled]="!productRegistrationForm.valid" type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>


<app-modal (modal)=" isModalOpen = $event; " *ngIf="isModalOpen "
           [childModalContent]="parentModalContent" >
</app-modal>


